body {
  background-color: black;
}
img {
  max-width: 100%;
  border: 2px white solid;
  padding: 1%;
}
.navbar-brand {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.rating {
  font-weight: bold;
}

.release {
  font-weight: bold;
}

.eachMovie {
  background-color: black;
  color: white;
}
.btnModal {
  background-color: black;
  margin-bottom: 35px;
  border: black;
}
.modal-content {
  color: black;
  padding: 2px;
  min-width: 656px;
}
.moviePosterInModal {
  padding: 12px;
}
.search-box {
  font-size: 25px;
  font-weight: regular;
  font-family: "Carrois Gothic SC", sans-serif;
}

#movieGenreLabel {
  color: white;
}
